{% extends 'base.html.twig' %}


{% block title %}Hello ServiceController!
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Save</button>
		{{ form_end(form) }}
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>nom</th>
					<th>prenom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for medecin in medecins %}
					<tr>
						<td class="id">{{ medecin.id }}</td>
						<td class="nom">{{ medecin.nom }}</td>
						<td class="prenom">{{ medecin.prenom }}</td>
						<td>
							<a href="{{ path('app_service_delete', {'id': medecin.id}) }}" class="btn btn-danger">Supprimer</a>
							<button class="btn btn-primary modifier" data-id="{{ medecin.id }}">Modifier</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

<script>
    $(document).on('click', '.modifier', function () {
        var $tr = $(this).closest('tr');
        var nom = $tr.find('.nom').text();
        var prenom = $tr.find('.prenom').text();
        var id = $tr.find('.id').text();

        $tr.html(`
            <td class="nom" colspan="4">
                <form name="medecin" method="post" action="/service/edit/${id}">
                    <label name="medecin[id]">${id}</label>
                    <input type="text" name="medecin[nom]" value="${nom}">
                    <input type="text" name="medecin[prenom]" value="${prenom}">
                    <input type="hidden" name="XDEBUG_SESSION" value ="VSCODE">
                    <button type="submit" class="btn btn-info" data-id="${id}">Mettre à jour</button>
                
                </form>
            </td>
        `);
    });
</script>
	</div>
{% endblock %}
